<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.saas.manage.mapper.enterprise.EntOrganizationMapper">
    <resultMap id="BaseResultMap" type="com.base.saas.manage.domain.entity.enterprise.EntOrganization">
        <id column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="parent_org_id" property="parentOrgId" jdbcType="VARCHAR"/>
        <result column="company_code" property="companyCode" jdbcType="VARCHAR"/>
        <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
        <result column="org_code" property="orgCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="org_manager" property="orgManager" jdbcType="VARCHAR"/>
        <result column="org_tel" property="orgTel" jdbcType="VARCHAR"/>
        <result column="org_type" property="orgType" jdbcType="SMALLINT"/>
        <result column="org_short_tel" property="orgShortTel" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    org_id, parent_org_id, company_code, org_name, org_code, status, org_type,create_user, create_time,
    update_user, update_time, org_manager,org_tel,org_short_tel
  </sql>

    <insert id="insertSelective" parameterType="com.base.saas.manage.domain.entity.enterprise.EntOrganization">
        insert into ent_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                org_id,
            </if>
            <if test="parentOrgId != null">
                parent_org_id,
            </if>
            <if test="companyCode != null">
                company_code,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
            <if test="orgCode != null">
                org_code,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="orgType != null">
                org_type,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>

            <if test="orgManager != null">
                org_manager,
            </if>
            <if test="orgTel != null">
                org_tel,
            </if>
            <if test="orgShortTel != null">
                org_short_tel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="parentOrgId != null">
                #{parentOrgId,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=SMALLINT},
            </if>
            <if test="orgType != null">
                #{orgType,jdbcType=SMALLINT},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>

            <if test="orgManager != null">
                #{orgManager, jdbcType=VARCHAR},
            </if>
            <if test="orgTel != null">
                #{orgTel, jdbcType=VARCHAR},
            </if>
            <if test="orgShortTel != null">
                #{orgShortTel, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.base.saas.manage.domain.entity.enterprise.EntOrganization">
        update ent_organization
        <set>
            <if test="parentOrgId != null">
                parent_org_id = #{parentOrgId,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                company_code = #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                org_code = #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=SMALLINT},
            </if>
            <if test="orgType != null">
                org_type = #{orgType,jdbcType=SMALLINT},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>

            <if test="orgManager != null">
                org_manager = #{orgManager, jdbcType=VARCHAR},
            </if>
            <if test="orgTel != null">
                org_tel = #{orgTel, jdbcType=VARCHAR},
            </if>
            <if test="orgShortTel != null">
                org_short_tel = #{orgShortTel, jdbcType=VARCHAR},
            </if>
        </set>
        where org_id = #{orgId,jdbcType=VARCHAR}
    </update>

    <select id="findList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ent_organization
        where 1= 1
        <if test="null!=companyCode and ''!=companyCode">
            and company_code=#{companyCode}
        </if>
        <if test="null!=orgName and ''!=orgName">
            and org_name=#{orgName}
        </if>
        <if test="null!=orgCode and ''!=orgCode">
            and org_code=#{orgCode}
        </if>
        <if test="null!=parentOrgId and ''!=parentOrgId">
            and parent_org_id=#{parentOrgId}
        </if>
        <if test="-1 != orgType">
            and org_type=#{orgType}
        </if>

        <if test="-1 != status">
            and status = #{status}
        </if>
        order by create_time desc
    </select>


    <select id="findById" parameterType="String" resultType="com.base.saas.manage.domain.entity.enterprise.EntOrganization">
      select
      t.org_id orgId,
      t.parent_org_id parentOrgId,
      t.company_code companyCode,
      t.org_manager orgManager,
      t.org_tel orgTel,
      t.org_short_tel orgShortTel,
      t.org_name orgName,
      t.org_code orgCode,t.status,
      t.create_user createUser,
      t.create_time createTime,
      t.update_user updateUser,
      t.update_time updateTime,
      t.org_type orgType,
      t.org_manager orgManager,
      t.org_tel orgTel,
      f.org_name parentOrgName
      from ent_organization t LEFT JOIN ent_organization f
      on t.parent_org_id = f.org_id
      where t.org_id = #{orgId}
  </select>

</mapper>