<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.saas.manage.mapper.system.SysEnterpriseMapper">

    <resultMap id="BaseResultMap" type="com.base.saas.manage.domain.entity.system.SysEnterprise">

        <id column="company_code" property="companyCode" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="company_manager" property="companyManager" jdbcType="VARCHAR"/>
        <result column="org_img" property="orgImg" jdbcType="VARCHAR"/>
        <result column="org_owner_img" property="orgOwnerImg" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="short_name" property="shortName" jdbcType="VARCHAR"/>
        <result column="wechat_no" property="wechatNo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    company_code, company_name, email, tel, company_manager, org_img, org_owner_img, 
    status, create_user, create_time, update_user, update_time, short_name,wechat_no
  </sql>

    <select id="getSysEnterpriseList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from sys_enterprise
        <where>1=1
            <if test="companyName!=null and companyName!=''">
                and company_name like CONCAT('%',#{companyName},'%') ESCAPE '/'
            </if>
        </where>
        order by create_time desc
    </select>


    <insert id="insertSelective" parameterType="com.base.saas.manage.domain.entity.system.SysEnterprise">

        insert into sys_enterprise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyCode != null">
                company_code,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="companyManager != null">
                company_manager,
            </if>
            <if test="orgImg != null">
                org_img,
            </if>
            <if test="orgOwnerImg != null">
                org_owner_img,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="shortName != null">
                short_name,
            </if>
            <if test="wechatNo != null">
                wechat_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="companyManager != null">
                #{companyManager,jdbcType=VARCHAR},
            </if>
            <if test="orgImg != null">
                #{orgImg,jdbcType=VARCHAR},
            </if>
            <if test="orgOwnerImg != null">
                #{orgOwnerImg,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=SMALLINT},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shortName != null">
                #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="wechatNo != null">
                #{wechatNo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_enterprise
        where company_code = #{companyCode,jdbcType=VARCHAR}
    </select>


    <update id="updateByPrimaryKeySelective" parameterType="com.base.saas.manage.domain.entity.system.SysEnterprise">

        update sys_enterprise
        <set>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="companyManager != null">
                company_manager = #{companyManager,jdbcType=VARCHAR},
            </if>
            <if test="orgImg != null">
                org_img = #{orgImg,jdbcType=VARCHAR},
            </if>
            <if test="orgOwnerImg != null">
                org_owner_img = #{orgOwnerImg,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=SMALLINT},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shortName != null">
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="wechatNo != null">
                wechat_no =#{wechatNo,jdbcType=VARCHAR},
            </if>
        </set>
        where company_code = #{companyCode,jdbcType=VARCHAR}
    </update>

    <select id="getSysEnterpriseByCompanyName" parameterType="map" resultType="java.lang.String">
        select company_code
        from sys_enterprise
        <where>
            company_name = #{companyName}
            <if test="companyCode!=null and companyCode!=''">
                and company_code != #{companyCode}
            </if>
        </where>
    </select>

    <update id="updateStatus" parameterType="java.lang.String">
    update sys_enterprise set status = #{status} where company_code = #{companyCode}
  </update>
</mapper>