<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.saas.manage.mapper.system.SysLoginMapper">

    <resultMap id="UserResultMap" type="com.base.saas.manage.domain.entity.system.SysUser">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="employee_no" property="employeeNo" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="SMALLINT"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="qq" property="qq" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="lock_time" property="lockTime" jdbcType="TIMESTAMP"/>
        <result column="latest_time" property="latestTime" jdbcType="TIMESTAMP"/>
        <result column="latest_ip" property="latestIp" jdbcType="VARCHAR"/>
        <result column="error_count" property="errorCount" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="User_Column_List">
    user_id, org_id, employee_no, account, password, real_name, sex, email,
    tel, qq, status, remark, role_id, lock_time, latest_time, latest_ip, error_count,
    create_user, create_time, update_user, update_time
  </sql>

    <resultMap id="MenuResultMap" type="com.base.saas.manage.domain.entity.enterprise.EntMenu">
        <id column="menu_id" property="menuId" jdbcType="VARCHAR"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="sequence" property="sequence" jdbcType="INTEGER"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="parent_name" property="parentName" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
    </resultMap>


    <select id="getUser" resultMap="UserResultMap" parameterType="string">
        select
        <include refid="User_Column_List"/>
        from sys_user u
        where account=#{account}
    </select>

    <update id="lockUser">
        update sys_user
        <set>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            error_count=error_count+1,
            <if test="status != null">
                lock_time = now(),
            </if>
        </set>
        where user_id=#{userId} and  <![CDATA[ status<>2 ]]>
    </update>

    <update id="clearErrCount">
        update sys_user set status =1, error_count=0, lock_time = NULL
        where user_id=#{userId}
    </update>

    <update id="updatePwd" parameterType="java.lang.String">
        update sys_user set password =#{newPwd}
        where user_id=#{userId}
    </update>

    <select id="getPermissions" resultMap="MenuResultMap" parameterType="java.lang.String">

        SELECT m.menu_id,m.icon,m.menu_name,m.parent_id,IFNULL(m.url,'') url
        from sys_user u
        INNER JOIN ent_role r on r.role_id=u.role_id
        INNER JOIN ent_role_menu rm on u.role_id=rm.role_id
        INNER JOIN sys_menu_fixed m on m.menu_id=rm.menu_id
        where u.user_id=#{userId} and r.`status`=1 and m.`status`=1
        ORDER BY m.sequence ASC
    </select>

    <select id="getUserRoleInfo" parameterType="java.lang.String" resultType="Map">
      select   t.role_id roleId,t.role_name roleName, t.status from ent_role t where t.role_id = (select f.role_id from sys_user f where f.user_id=#{userId})
    </select>

    <update id="updateLoginInfo" parameterType="java.lang.String">
        update sys_user set latest_ip=#{remoteAddr},latest_time= now()  where user_id=#{userId}
    </update>
</mapper>